<configuration>
  <configSections>
    <section name="Ade.AdeComponentFramework.Components" type="Ade.Internal.ConfigurationSectionHandler, Ade.ComponentsImpl" allowExeDefinition="MachineToLocalUser" />
    <section name="KukaRoboter.SmartHMI.Menu" type="Ade.Internal.ConfigurationSectionHandler, Ade.ComponentsImpl" allowExeDefinition="MachineToLocalUser" />
  </configSections>
  <!-- ### Components ### -->
  <Ade.AdeComponentFramework.Components type="Ade.Components.ComponentReferenceConfiguration, Ade.Components">
    <Component Type="KukaRoboter.UserTech.StatKeys.ViewModels.UserkeyBarRepository, KukaRoboter.UserTech.StatKeys" />
  </Ade.AdeComponentFramework.Components>
  <!-- ### Menu ### -->
  <KukaRoboter.SmartHMI.Menu type="KukaRoboter.SmartHMI.UIFramework.Menu.MenuRootImpl, SmartHMI">
    <MenuRoot SystemName="MainMenu">
      <MenuFolder SystemName="Config">
        <MenuFolder SystemName="ConfigStatKeys">
          <MenuFolder DisplayName="Comm010Key">
            <MenuItem DisplayName="Comm010Keys" MergeOrder="9009">
              <CommandCall Target="UserkeyBarManager.OpenUserkeyBar" Right="OperationTP">
                <Argument Name="UserkeyBarRepository">KukaRoboter.UserTech.StatKeys.ViewModels.UserkeyBarRepository</Argument>
                <Argument Name="UserkeyBarID">SeKeys</Argument>
              </CommandCall>
            </MenuItem>
          </MenuFolder>
        </MenuFolder>
      </MenuFolder>
    </MenuRoot>
  </KukaRoboter.SmartHMI.Menu>
</configuration>