<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="KukaRoboter.SmartHMI.Menu" type="Ade.Internal.ConfigurationSectionHandler, Ade.ComponentsImpl" allowExeDefinition="MachineToLocalUser"/>
		<section name="KukaRoboter.TechHandler2.IlfProviders" type="Ade.Internal.ConfigurationSectionHandler, Ade.ComponentsImpl" allowExeDefinition="MachineToLocalUser"/>
		<section name="KukaRoboter.TechHandler2.IlfParamsParsers" type="Ade.Internal.ConfigurationSectionHandler, Ade.ComponentsImpl" allowExeDefinition="MachineToLocalUser"/>
	</configSections>
	<KukaRoboter.SmartHMI.Menu type="KukaRoboter.SmartHMI.UIFramework.Menu.MenuRootImpl, SmartHMI">
    <!-- Menue tree of UserTech InlineForms -->
	<MenuRoot SystemName="CommandMenu">
		<!-- ===================================================================================== -->
		<!-- ================================ SbtComm001 ======================================= -->
		<!-- ===================================================================================== -->
        <MenuFolder DisplayName="MenuBar#Speedbot" MergeOrder="1100">
			<MenuFolder DisplayName="UserTechILFs#SbtComm001" MergeOrder="9001">
				<MenuItem DisplayName="UserTechILFs#Event" MergeOrder="100">				
					<CommandCall Target="LegacyLoader.InvokeModuleProc">								
						<Argument Name="PlugInName">INLINEFORM</Argument>								
						<Argument Name="ProcID">2011</Argument>												
						<Argument Name="ParamList">Kuka.UserTech;SbtComm001;Event</Argument>	
					</CommandCall>
				</MenuItem>
				<MenuItem DisplayName="UserTechILFs#Event2" MergeOrder="101">				
					<CommandCall Target="LegacyLoader.InvokeModuleProc">								
						<Argument Name="PlugInName">INLINEFORM</Argument>								
						<Argument Name="ProcID">2011</Argument>												
						<Argument Name="ParamList">Kuka.UserTech;SbtComm001;Event2</Argument>	
					</CommandCall>
				</MenuItem>
				<MenuItem DisplayName="UserTechILFs#Event2ByName" MergeOrder="102">				
					<CommandCall Target="LegacyLoader.InvokeModuleProc">								
						<Argument Name="PlugInName">INLINEFORM</Argument>								
						<Argument Name="ProcID">2011</Argument>												
						<Argument Name="ParamList">Kuka.UserTech;SbtComm001;Event2ByName</Argument>	
					</CommandCall>
				</MenuItem>
				<MenuItem DisplayName="UserTechILFs#Request" MergeOrder="103">				
					<CommandCall Target="LegacyLoader.InvokeModuleProc">								
						<Argument Name="PlugInName">INLINEFORM</Argument>								
						<Argument Name="ProcID">2011</Argument>												
						<Argument Name="ParamList">Kuka.UserTech;SbtComm001;Request</Argument>	
					</CommandCall>
				</MenuItem>
			</MenuFolder>
		</MenuFolder>
	</MenuRoot>

	</KukaRoboter.SmartHMI.Menu>

	<KukaRoboter.TechHandler2.IlfProviders type="KukaRoboter.Common.Technology.TechHandler2.IlfProviderConfiguration, KukaRoboter.Common.Technology">
		<IlfProvider Name="Kuka.UserTech" Type="KukaRoboter.KukaUserTech.InlineForms.UserTech" Assembly="KukaRoboter.UserTech.InlineForms" OptionPackageName="UserTech" SplineType="BLOCK_TYPE_ALL" />
	</KukaRoboter.TechHandler2.IlfProviders>

	<KukaRoboter.TechHandler2.IlfParamsParsers type="KukaRoboter.Common.Technology.TechHandler2.IlfParamsParserConfiguration, KukaRoboter.Common.Technology">
		<IlfParamsParser ParsesOldParams="false" Id="FoldParamsParser" Impl="KukaRoboter.Common.Technology.TechHandler2.FoldParamsParser, KukaRoboter.Common.Technology" />
		<IlfParamsParser ParsesOldParams="false" Id="UserTechParamsParser" Impl="KukaRoboter.KukaUserTech.InlineForms.UserTechParamsParser, KukaRoboter.UserTech.InlineForms" />
	</KukaRoboter.TechHandler2.IlfParamsParsers>

</configuration>