<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="KukaRoboter.SmartHMI.Menu" type="Ade.Internal.ConfigurationSectionHandler, Ade.ComponentsImpl" allowExeDefinition="MachineToLocalUser"/>
		<section name="KukaRoboter.TechHandler2.IlfProviders" type="Ade.Internal.ConfigurationSectionHandler, Ade.ComponentsImpl" allowExeDefinition="MachineToLocalUser"/>
		<section name="KukaRoboter.TechHandler2.IlfParamsParsers" type="Ade.Internal.ConfigurationSectionHandler, Ade.ComponentsImpl" allowExeDefinition="MachineToLocalUser"/>
	</configSections>
	<KukaRoboter.SmartHMI.Menu type="KukaRoboter.SmartHMI.UIFramework.Menu.MenuRootImpl, SmartHMI">
    <!-- Menue tree of UserTech InlineForms -->
	<MenuRoot SystemName="CommandMenu">
		<!-- ===================================================================================== -->
		<!-- ================================ PLC ======================================= -->
		<!-- ===================================================================================== -->
        <MenuFolder DisplayName="MenuBar#Speedbot" MergeOrder="1100">
			<MenuFolder DisplayName="UserTechILFs#PLC" MergeOrder="200">	
				<MenuItem DisplayName="UserTechILFs#EchoProgNo" MergeOrder="100">				
					<CommandCall Target="LegacyLoader.InvokeModuleProc">								
						<Argument Name="PlugInName">INLINEFORM</Argument>								
						<Argument Name="ProcID">2011</Argument>												
						<Argument Name="ParamList">Kuka.UserTech;PLC;EchoProgNo</Argument>	
					</CommandCall>
				</MenuItem>
				<MenuItem DisplayName="UserTechILFs#EnterZone" MergeOrder="101">				
					<CommandCall Target="LegacyLoader.InvokeModuleProc">								
						<Argument Name="PlugInName">INLINEFORM</Argument>								
						<Argument Name="ProcID">2011</Argument>												
						<Argument Name="ParamList">Kuka.UserTech;PLC;EnterZone</Argument>	
					</CommandCall>
				</MenuItem>
				<MenuItem DisplayName="UserTechILFs#ExitZone" MergeOrder="102">				
					<CommandCall Target="LegacyLoader.InvokeModuleProc">								
						<Argument Name="PlugInName">INLINEFORM</Argument>								
						<Argument Name="ProcID">2011</Argument>												
						<Argument Name="ParamList">Kuka.UserTech;PLC;ExitZone</Argument>	
					</CommandCall>
				</MenuItem>
				<MenuItem DisplayName="UserTechILFs#PathSegment" MergeOrder="103">				
					<CommandCall Target="LegacyLoader.InvokeModuleProc">								
						<Argument Name="PlugInName">INLINEFORM</Argument>								
						<Argument Name="ProcID">2011</Argument>												
						<Argument Name="ParamList">Kuka.UserTech;PLC;PathSegment</Argument>	
					</CommandCall>
				</MenuItem>
				<MenuItem DisplayName="UserTechILFs#RequestToContinue" MergeOrder="104">				
					<CommandCall Target="LegacyLoader.InvokeModuleProc">								
						<Argument Name="PlugInName">INLINEFORM</Argument>								
						<Argument Name="ProcID">2011</Argument>												
						<Argument Name="ParamList">Kuka.UserTech;PLC;RequestToContinue</Argument>	
					</CommandCall>
				</MenuItem>
				<MenuItem DisplayName="UserTechILFs#MoveToHome" MergeOrder="105">				
					<CommandCall Target="LegacyLoader.InvokeModuleProc">								
						<Argument Name="PlugInName">INLINEFORM</Argument>								
						<Argument Name="ProcID">2011</Argument>												
						<Argument Name="ParamList">Kuka.UserTech;PLC;MoveToHome</Argument>	
					</CommandCall>
				</MenuItem>
				<MenuItem DisplayName="UserTechILFs#Pounce" MergeOrder="106">				
					<CommandCall Target="LegacyLoader.InvokeModuleProc">								
						<Argument Name="PlugInName">INLINEFORM</Argument>								
						<Argument Name="ProcID">2011</Argument>												
						<Argument Name="ParamList">Kuka.UserTech;PLC;Pounce</Argument>	
					</CommandCall>
				</MenuItem>
				<MenuItem DisplayName="UserTechILFs#ServoCtrl" MergeOrder="107">				
					<CommandCall Target="LegacyLoader.InvokeModuleProc">								
						<Argument Name="PlugInName">INLINEFORM</Argument>								
						<Argument Name="ProcID">2011</Argument>												
						<Argument Name="ParamList">Kuka.UserTech;PLC;ServoCtrl</Argument>	
					</CommandCall>
				</MenuItem>
				<MenuItem DisplayName="UserTechILFs#MagToolCtrl" MergeOrder="108">				
					<CommandCall Target="LegacyLoader.InvokeModuleProc">								
						<Argument Name="PlugInName">INLINEFORM</Argument>								
						<Argument Name="ProcID">2011</Argument>												
						<Argument Name="ParamList">Kuka.UserTech;PLC;MagToolCtrl</Argument>	
					</CommandCall>
				</MenuItem>
				<MenuItem DisplayName="UserTechILFs#MagToolForcCtrl" MergeOrder="109">				
					<CommandCall Target="LegacyLoader.InvokeModuleProc">								
						<Argument Name="PlugInName">INLINEFORM</Argument>								
						<Argument Name="ProcID">2011</Argument>												
						<Argument Name="ParamList">Kuka.UserTech;PLC;MagToolForcCtrl</Argument>	
					</CommandCall>
				</MenuItem>
			</MenuFolder>
		</MenuFolder>
	</MenuRoot>

	</KukaRoboter.SmartHMI.Menu>

	<KukaRoboter.TechHandler2.IlfProviders type="KukaRoboter.Common.Technology.TechHandler2.IlfProviderConfiguration, KukaRoboter.Common.Technology">
		<IlfProvider Name="Kuka.UserTech" Type="KukaRoboter.KukaUserTech.InlineForms.UserTech" Assembly="KukaRoboter.UserTech.InlineForms" OptionPackageName="UserTech" SplineType="BLOCK_TYPE_ALL" />
	</KukaRoboter.TechHandler2.IlfProviders>

	<KukaRoboter.TechHandler2.IlfParamsParsers type="KukaRoboter.Common.Technology.TechHandler2.IlfParamsParserConfiguration, KukaRoboter.Common.Technology">
		<IlfParamsParser ParsesOldParams="false" Id="FoldParamsParser" Impl="KukaRoboter.Common.Technology.TechHandler2.FoldParamsParser, KukaRoboter.Common.Technology" />
		<IlfParamsParser ParsesOldParams="false" Id="UserTechParamsParser" Impl="KukaRoboter.KukaUserTech.InlineForms.UserTechParamsParser, KukaRoboter.UserTech.InlineForms" />
	</KukaRoboter.TechHandler2.IlfParamsParsers>

</configuration>